body{
    position: relative;
    box-sizing: border-box;
    background-image: radial-gradient( circle farthest-corner at -4% -12.9%,  rgba(74,98,110,1) 0.3%, rgba(30,33,48,1) 90.2% );
    color: white;
    margin: 0;
    min-height: 100vh;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
/* Menu de navegacion */
.nav__list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: rgb(248, 161, 79);
    
} 
.nav__list2{
    float: left;
    border-right: 1px solid #fff;
}
.nav__link{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.nav__link:hover{
    background-color: rgba(17, 17, 17, 0.5);
}
.active{
    background-color: rgba(17, 17, 17, 0.5);
}
/* Contenido Principal */
.main__section{
    display: inline-block;
    width: 60%;
    margin: 40px 5% 100px 5%;
    padding: 10px 50px 30px 50px;
    border-radius: 15px;
    background-color: rgba(17, 17, 17, 0.466);
}
.main__section header h1{
    font-size: 4em;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    color: rgb(248, 161, 79);
}
.main__section article header h2{
    font-size: 2em;
}
.main__section article p{
    font-size: 1.2em;
    text-align: left;
    margin-left: 20px;
    margin-bottom: 35px;
}
/* Estilos de DISCORD */
.discord__admin{
    color: #c599ff;
}
.discord__owner{
    color: #ff6161;
}
.discord__link{
        text-decoration: none;
        color: rgb(82, 123, 255);
}
/* Estilos de MINECRAFT */
.minecraft__gladiador{
    color: rgb(253, 253, 108);
}
aside{
    display: inline-block;
    margin: 0;
}
/* Estilos de Partidos */
.partidos__cabecera{
    margin-left: 5%;
    color: #ff964a; 
}
.partidos__titulos{
    margin-left: 5%;
    
}
.proximos__container__primero{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    padding: 20px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    background: #dd9866;
    box-shadow: 1px 1px 20px black;
}
.proximos__container__primero:hover{
    background-color: #ff964a;
}
.vs{
    display: inline-block;
    text-align: center;
    color: #eee;
    font-weight: 900;
    font-size: 2rem;
    text-shadow: 1px 1px 10px black;
}
.proximos__container__primero time{
    display: block;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 300;
}

.jugados__container__primero{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    padding: 20px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    background: #759aff;
    box-shadow: 1px 1px 20px black;
}
.jugados__container__primero:hover{
    background-color: #3e72ff;
}
.local{
    display: inline-block;
    text-align: center;
    color: rgb(126, 253, 87);
    margin-right: 3px;
    font-weight: 600;
    font-size: 1.6rem;
    text-shadow: 1px 1px 3px black;
}
.visitante{
    display: inline-block;
    text-align: center;
    color: rgb(255, 78, 107);
    font-weight: 600;
    font-size: 1.6rem;
    text-shadow: 1px 1px 3px black;
}
.guion{
    display: inline-block;
    text-align: center;
    color: #eee;
    font-weight: 300;
    font-size: 1.2rem;

}

/* Estilos de Clasificacion */
.titulo__clasificacion{
    margin-left: 5%;
}
.table{
    margin-left: auto;
    margin-right: auto;


}
.table__head{
    background-color: #ffc477;
    font-size: 1.1rem;
}
.table__data-puntos{
    background-color: rgb(255, 187, 61);
    font-weight: 600;
}
.table__data-lider{
    background-color: rgb(66, 241, 139);
    font-weight: 600;
}
.table, .table__head, .table__data{
    border-collapse: collapse;
    border: 1px solid white;
    padding: 3px;
    text-align: center;
}
/* Footer */
footer{
    position: absolute;
    bottom: 0;
    text-align: center;
    height: 50px;
    width: 100%;
    background: rgb(248, 161, 79);
} 